<section id="about" class="m-5">
  <div class="container">
    <div class="row justify-content-center">

      <div class="text-center p-1 col-lg-3 bg-white m-3">
        <img style="max-width:100%; height:auto; align:center;" src="static/assets/img/me/img1.JPG"></img>
      </div>

      <div class="p-0 col-lg-8">
        <img src="static/assets/img/water.gif" style="max-width:100%; heigh:auto;"></img>
      </div>

    </div>

    <div class="row justify-content-center">
      <div class="p-3 col-lg-4">
        <img src="static/assets/img/pc.jpg" style="max-width:100%; heigh:auto;"></img>

      </div>

      <div class="p-3 col-lg-4 bg-black text-white">
        <h4>I am an aspiring AI engineer</h4>
        <h4>I study computer science at UCF</h4>
        <h4>I am a problem solver</h4>
        <h4>I am a creative thinker</h4>
      </div>

      <div class="p-3 col-lg-3 ">
        <img src="static/assets/img/light.JPG" style="max-width:100%; heigh:auto;"></img>
      </div>

    </div>

    <div class="row justify-content-center">


      <div class="p-3 col-lg-5">
        <img src="static/assets/img/iceland.jpg" style="max-width:100%; heigh:auto;"></img>
      </div>

      <div class="text-left p-3 m-2 col-lg-3 bg-black text-white">
        <p>I am an adventurer</p>
        <p>I am a photographer</p>
        <p>I am a guitarist</p>
        <p>I am an traveller</p>
        <p>I am an outdoorsman</p>
      </div>

      <div class="p-0 col-lg-3 bg-light text-dark-100">
        <img src="static/assets/img/me/img3.jpg" style="max-width:100%; heigh:auto;"></img>
      </div>

    </div>

  </div>
</section>
