{% extends "layout.html" %}

{% block head %}
  <script type="text/javascript">
    var i = 0;
    var txt = "whoami";
    var name = "Hi, I'm Nick Speer";
    var speed = 150;
    var j = 0

    window.onload = function() {
      typeWriter();
    };

    function typeWriter() {
      if (i < txt.length) {
        document.getElementById("whoami").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, Math.random() * 200 + 50);
      }
      else {
        if (j > 4 && j < name.length+5) {
          document.getElementById("me").innerHTML += name.charAt(j-5);
          j++;
          setTimeout(typeWriter, Math.random() * 200);
        }
        else {
          // wait a bit
          setTimeout(typeWriter, 200);
          j++;
        }
      }





    };

  </script>
{% endblock %}

{% block body %}

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#resume">Resume</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Connect</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h2 class="text-white mt-2 mb-5" id="whoami"> </h2>
                    <h2 class="text-white mt-2 mb-5" id="me"></h2>
                </div>
            </div>
        </header>

        {% include "about.html" %}
        {% include "projects.html" %}
        {% include "resume.html" %}

{% endblock %}
